
.header {
    background: none repeat scroll 0 0 #F2F0DF;
    padding: 10px 0 10px;
}

.container2 {
    background: none repeat scroll 0 0 #8E9E82;
    padding: 20px 0 20px;
}

.container3 {
    background: none repeat scroll 0 0 #A9C1D9;
    padding: 40px 0 20px;
}

.container4 {
    background: none repeat scroll 0 0 #CACCB6;
    padding: 30px 0 20px;
}

.container5 {
    background: none repeat scroll 0 0 #eaecfd;
    padding: 30px 0 20px;
}

.footer {
    background: none repeat scroll 0 0 #607890;
    padding: 20px 0 10px;
	height: 150px;
}

.nav-links {
	float: right;
	padding:15px 0 0;
}

.container2 h2 {
	color: #FFF;
	padding: 15px 0 15px;
}

.container2 h1 {
	font-size:38px;
	line-height:44px;
}

.container3 img {
	padding-bottom: 35px;
}

p {
	font-size: 16px;
	line-height: 24px;
	color: #fbfdfc;
}

.container3 h1 {
	padding-bottom: 15px;
}

.container3 p {
	color: #2c2c2c;
}

.container5 p {
	color: #2c2c2c;
}

li {
	font-size: 14px;
	line-height: 20px;
	color: #2c2c2c;
	padding: 8px 0 0;	
}

.footer a {
	color: #fbfdfc;
    text-decoration: none;
}

.footer p {
	color: #fbfdfc;
}

a.button, a.button:active {
    padding: 11px 25px;
    vertical-align: -6%;
    color: #fbfdfc;
    text-decoration: none;
}

.button, .button:active {
    background: none repeat scroll 0 0 #ADC97E;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 25px;
    text-decoration: none;
}

hr {
	margin: 20px 0 20px;
}

.button-signup {
    background-color: #ED5E11;
    background-image: -moz-linear-gradient(center top , #e89d58, #E25316);
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #CF4000;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-repeat: repeat-x;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
    line-height: normal;
    padding: 12px 15px;
    width: 250px;
}

.button-signup:hover {
	color: #ffffd9;
	text-shadow: 0 -1px 0 #B12200;
	background-color: #E25316;
	background-position: 0 -15px;
	text-decoration: none;
}

.button-signup:active {
	background-image: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #FFC275;
	background-color: #ED652F;
}

.button-signup:a {
	text-decoration: none;
}

.button-signup-small {
    font-size: 18px;
    line-height: normal;
    padding: 12px 15px;
    width: 230px;
}