body {
	background: url("http://chrispa.com/music/img/cardboard_flat-texture.png") repeat scroll 0 0 transparent;
}

.header {
    background: none repeat scroll 0 0 #EEE;
}

.width_limit {
	width: 1061px;
	margin:0 auto;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5); 
}

.container2 {
    background: none repeat scroll 0 0 #5F616C;
	background-image: url('http://chrispa.com/music/img/colored_chalk_500height.jpg');
	background-repeat:no-repeat;
	background-attachment:top;
	background-position:center;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5); 
	height: 370px;
	padding-top: 30px;
}

.container3 {
    background: none repeat scroll 0 0 #A9C1D9;
    padding: 40px 0 20px;
}

.container4 {
    background: none repeat scroll 0 0 #CACCB6;
    padding: 30px 0 20px;
}

.container5 {
    background: none repeat scroll 0 0 #eaecfd;
    padding: 30px 0 20px;
}

.footer {
    background: none repeat scroll 0 0 #607890;
    padding: 20px 0 10px;
	height: 150px;
}

.nav-links {
	float: right;
	padding:15px 0 0;
}

.container2 h2 {
	color: #FFF;
	padding: 15px 0 15px;

}

.container2 h1 {
	color: #FFF;
	font-size:42px;
	line-height:44px;

}

.container3 img {
	padding-bottom: 35px;
}

p {
	font-size: 16px;
	line-height: 24px;
	color: #fbfdfc;
}

.container3 h1 {
	padding-bottom: 15px;
}

.container4 p {
	color: #2c2c2c;
}

.container3 p {
	color: #2c2c2c;
}

.container5 p {
	color: #2c2c2c;
}

li {
	font-size: 14px;
	line-height: 20px;
	color: #2c2c2c;
	padding: 8px 0 0;	
}

.footer a {
	color: #fbfdfc;
    text-decoration: none;
}

.footer p {
	color: #fbfdfc;
}

a.button, a.button:active {
    padding: 11px 25px;
    vertical-align: -6%;
    color: #fbfdfc;
    text-decoration: none;
}

.button, .button:active {
    background: none repeat scroll 0 0 #ADC97E;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 25px;
    text-decoration: none;
}

hr {
	margin: 20px 0 20px;
}

.getstarted hr {
	margin: 50px 0 50px;	
}

.btn-yellow {
    background-color: #DDD079;
    background-image: -moz-linear-gradient(center top , #EED079, #F2CC5C);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}


.btn-honey { 
	text-shadow: 0px -1px 0px #bd8018;
	color: #ffffff; 
	background-color: #DB9E36; 
	background-image: -moz-linear-gradient(top, #f9bc54, #bd8018); 
	background-image: -ms-linear-gradient(top, #f9bc54, #bd8018); 
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9bc54), to(#bd8018)); 
	background-image: -webkit-linear-gradient(top, #f9bc54, #bd8018); 
	background-image: -o-linear-gradient(top, #f9bc54, #bd8018); 
	background-image: linear-gradient(top, #f9bc54, #bd8018); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9bc54', endColorstr='#bd8018', GradientType=0); 
	border-color: #DB9E36 #bd8018 #bd8018 #DB9E36; 
	border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); 

}
.btn-honey:hover, .btn-honey-pot-4:active, .btn-honey-pot-4.active, .btn-honey-pot-4.disabled, .btn-honey-pot-4[disabled] { background-color: #bd8018; }
.btn-honey:hover { color: #fffffe; text-shadow: 0px -1px 0px #9f6200; }
.btn-honey:focus { color: #ffff9a; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #DB9E36 #bd8018 #bd8018 #DB9E36; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-honey.active, .btn-honey-pot-4:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #ffff9a; }